<h2>
  <%= @spoons["name"] %>
</h2>
<h3>
  Description:
  <%= @spoons["description"] %>
</h3>
<h3>
  Rating:
  <%= @spoons["rating"] %>/10
</h3>

<div class="controls">
  <a href="/spoons/<%= @spoons["id"] %>/edit">Edit</a>
  <a href="/spoons/<%= @spoons["id"] %>/delete">Delete</a>

</div>
