<!DOCTYPE html>
<html>
  <head>
    <title>GameOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <a href="/">Home</a> |
      <a href="/m8b">Magic 8 Ball</a>
      <a href="/sn">Secret Number</a>
      <a href="/rpshome">Rock Paper Scissors</a>
    </nav>
    <%= yield %>
  </body>
</html>
