<%= @actor.name %>

<img src="<%= @actor.image %>" alt=<%= @actor.name %>>

  <h3>Associated movies:</h3>
  <ul>
    <% @actor.movies.each do |movie| %>
      <li>
        <a href="/movies/<%= movie.id %>">
          <%= movie.name %>
        </a>
      </li>
    <% end %>
  </ul>


<a href="/actors/<%= @actor.id %>/edit">Edit</a>
<a href="/actors/<%= @actor.id %>/delete">Delete</a>
