<div class="main">

  <p>Name: <%= @mountain.name %></p>
  <p>Height: <%= number_with_delimiter(@mountain.height, :delimiter => ',') %> m</p>
  <p>Range: <%= @mountain.range %></p>
  <p>Countries: <%= @mountain.countries %></p>
  <p>Continent: <%= @mountain.continent %></p>
  <p>First Ascent: <%= @mountain.year_first_ascent %> by <%= @mountain.climber_first_ascent %></p>
  <div class="mountain-image">
    <img src="<%= @mountain.image %>" alt="<%= @mountain.name %>">
  </div>
</div>

<div class="controls">
  <%= link_to 'Edit', edit_mountain_path(@mountain.id) %>
  <%= button_to 'Delete Mountain', mountain_path(@mountain.id), :method => 'delete' %>
</div>
