<div class="idea-header">
  <img class="icon-small" src="/img/bulb-icon.png" alt="Bulb icon">
  <h2 class="idea-single">changing the lightbulb</h2>
</div>
<div class="form-container <%= @idea.category %>">
  <form action="/idea/<%= @idea.id %>" method="post" class="new">
    <label>
      <p>title</p>
      <input name="title" placeholder="<%= @idea.title %>" value="<%= @idea.title %>" required>
    </label>
    <label>
      <p>category</p>
      <select class="" name="category" placeholder="<%= @idea.category %>" required>
        <option value="">select...</option>
        <% @cats.each do |c| %>
          <option value="<%= c %>" <%= 'selected' if c == @idea.category %>><%= c %></option>
        <% end %>
      </select>
    </label>
    <label>
      <p>description</p>
      <textarea name="description" placeholder="<%= @idea.description %>"><%= @idea.description %></textarea>
    </label>
    <label>
      <p>related links <a class=" fixed-label-content link-btn new-btn" href="/link/new/related-to/<%= @idea.id %>" alt="New Related Link">new</a></p> <!-- need to loop over current number of links and dynamically identify their ids-->
      <% unless @idea.links.empty? %>
        <% @idea.links.each do |a| %>
          <p class="related">
            <a href="<%= a.url %>" alt="Link to <%= a.name %>" class="fixed-label-content"><%= a.name %></a>
            <a href="/link/<%= a.id %>/edit/related-to/<%= @idea.id %>" alt="Edit <%= a.name %>" class="fixed-label-content link-btn edit-btn">edit</a>
            <a href="/link/<%= a.id %>/delete_check/related-to/<%= @idea.id %>" alt="Delete <%= a.name %>" class="fixed-label-content link-btn delete-btn">delete</a>
          </p>
        <% end %>
      <% end %>
      <p ></p>
    </label>
    <div class="center">
      <a href="/idea/<%= @idea.id %>" class="big-btn link-btn">cancel</a>
      <button type="submit" class="big-btn edit-btn link-btn">update idea</button>
    </div>
  </form>
</div>
