<div class="idea-header">
  <img class="icon-small" src="/img/bulb-icon.png" alt="Bulb icon">
  <h2 class="idea-single">changing the lightbulb</h2>
</div>
<div class="form-container">
  <form action="/idea/<%= @idea.id %>" method="post" class="new">
    <label>
      <p>title</p>
      <input name="title" placeholder="<%= @idea.title %>" value="<%= @idea.title %>" required>
    </label>
    <label>
      <p>category</p>
      <input name="category" placeholder="<%= @idea.category %>" value="<%= @idea.category %>" required>
    </label>
    <label>
      <p>description</p>
      <textarea name="description" placeholder="<%= @idea.description %>"><%= @idea.description %></textarea>
    </label>
    <label>
      <p>related links</p> <!-- need to loop over current number of links and dynamically identify their ids-->
      <% unless @idea.links.empty? %>
        <% @idea.links.each do |a| %>
          <p><a href="<%= a.url %>" alt="Link to <%= a.name %>"><%= a.name %> [<%= a.url.size > 20 ? a.url[0..20]+ "..." : a.url %>]</a>
          <a href="/link/<%= a.id %>/edit" alt="Edit <%= a.name %>">edit</a></p>
        <% end %>
      <% end %>
      <p><a href="/link/new/related-to/<%= @idea.id %>" alt="New Related Link">new related link</a></p>
    </label>
    <button type="submit">update idea</button>
  </form>
</div>
