<h2>Overview</h2>
<table id='myTable'>
    <thead>
        <th>Name</th>
        <th>Height</th>
        <th>Summary</th>
    </thead>
    <% @types.each do | each |  %>
    <tbody>
        <tr>
            <td>
            <a href="/clouds/<%=each['id']%>"><%= each['name']%></a>
            </td>

            <td>
            <a href="/<%= each.height.id%>"><%= each.height.name%></a>
            </td>

            <td><%= each['summary']%></td>
        </tr>
        <% end %>
    </tbody>
</table>
