<!DOCTYPE html>
<html>
  <head>
    <title>MountainRanges</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">


  </head>

  <body>

    <div class="container">

      <nav>
        <%= link_to "Mountains", mountains_path %>
        <%= link_to "New Mountain", new_mountain_path %>
      </nav>


    <%= yield %>

    </div>

  </body>
</html>
