<h2><%= @race.event %></h2>

<div class="box">
  <div class="textboxes">
    <div class="highlight">
        <% unless @race.rider.nil? %>
          <h3>Winning rider:</h3>
              <a href="/riders/<%= @race.rider.id %>">
                <%= @race.rider.name %>
              </a>
        <% end %>
    </div>
    <div class="highlight">
        <% unless @race.country.nil? || @race.country.empty? %>
          <p>Race country: <%= @race.country %></p>
        <% end %>

        <% unless @race.nickname.nil? || @race.nickname.empty? %>
          <p>Nickname of race: <%= @race.nickname %></p>
        <% end %>
    </div>
  </div> <!-- end boxes div -->


  <div class="mainimg">
      <% unless @race.image.nil? || @race.image.empty? %>
        <img class="feature" src="<%= @race.image %>" alt="<%= @race.event  %>">
      <% end %>
  </div>



      <div class="controls">
        <p>
          <a class="grow" href="/races/<%= @race.id %>/edit">Edit</a>
          <a class="grow" href="/races/<%= @race.id %>/delete">Delete</a>
        </p>
      </div>

</div>
