<h2>Edit Rider</h2>

<form class="pure-form pure-form-aligned" action="/riders/<%= @rider.id %>" method="post">

  <div class="pure-control-group">
    <label for="">Name:</label>
      <input name="name" placeholder="Cade Evans" type="text" required value="<%= @rider.name %>">
      <span class="pure-form-message-inline">This is a required field.</span>
  </div>

  <div class="pure-control-group">
    <label for="">Team:</label>
      <input name="team" placeholder="BMC" type="text" value="<%= @rider.team %>">
  </div>

  <div class="pure-control-group">
    <label for="">Country:</label>
      <input name="country" placeholder="Australia" type="text" value="<%= @rider.country %>">

  </div>

  <div class="pure-control-group">
    <label for="">Image:</label>
      <input type="url" name="image" placeholder="http://..." value="<%= @rider.image %>">
  </div>

  <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Update rider</button>
  </div>



</form>


<!-- <form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Username</label>
            <input id="name" type="text" placeholder="Username">
            <span class="pure-form-message-inline">This is a required field.</span>
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input id="email" type="email" placeholder="Email Address">
        </div>

        <div class="pure-control-group">
            <label for="foo">Supercalifragilistic Label</label>
            <input id="foo" type="text" placeholder="Enter something here...">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form> -->
