<h2><%= @car["name"] %></h2>
<h3><%= @car["year"] %></h3>

<% unless @car["photo"].nil? || @car["photo"].empty? %>
    <img src="<%= @car["photo"] %>" alt="<%= @car["name"] %>">
<% end%>

<a href="/cars/<%= @car['id'] %>/delete">Delete</a>
<a href="/cars/<%= @car['id'] %>/edit">Edit</a>