<div class="content">
  <h2>Profiles</h2>


  <table class="index">
    <tr>
      <th>Snowboard Profile</th>
      <th>Rider Level</th>
      <th>Snowboard Shape</th>
    </tr>
    <% @profiles.each do |profile| %>
    <tr>
      <td>
        <a href="/profiles/<%= profile["id"] %>">
        <%= profile["name"] %>
      </td>
      <td>
        <%= profile["skill"] %>
      </td>
      <td>
        <a href="/shapes/<%= profile["shape_id"] %>">
        <%= profile["shape_id"] %>
        </a>
      </td>
    </tr>
    <% end %>

  </table>

</div>
