<h2>Edit Profile</h2>

<div class="form">
  <form action="/profiles/<%= @profiles["id"] %>" method="post">
    <label>
      <h3>Name:</h3>
      <input name="name" placeholder="eg. Camber" required value="<%= @profiles["name"] %>">
    </label>

    <label>
      <h3>Experience Level:</h3>
      <input name="skill" value="<%= @profiles["skill"] %>" placeholder="eg. beginner">
    </label>

    <label>
      <h3>Snowboard Shapes:</h3>
      <select name="shape_id">
        <option></option>
        <% Shape.all.each do |shape| %>
        <option value="<%= shape.id %>" <%= "selected" if shape.id == @profiles.shape_id %>><%= shape.name %></option>
        <% end %>
        <option>multiple</option>
      </select>
    </label>
    <label>
      <h3>Image:</h3>
      <input name="image" type="url" placeholder="https://..." value="<%= @profiles["image"] %>"=>
    </label>
      <label>
        <textarea name="description" rows="8" cols="80" placeholder="Give a brief overview"><%= @profiles.description %></textarea>
        <!-- <input name="description"> -->
      </label>
    <button>Submit</button>
  </form>
</div>
