<div class="display">
  <h2><%= @profiles.name %></h2>

  <h3>
    Difficulty:
    <%= @profiles.skill %>
  </h3>

  <% unless @profiles.shape.nil? %>
  <h3>
    Shape:
    <a href="/shapes/<%= @profiles.shape_id %>">
      <%= @profiles.shape.name %>
    </a>
  </h3>

  <% end %>
  <p><%= @profiles.description %></p>



  <% unless @profiles["image"].nil? || @profiles["image"].empty? %>
    <img class="feature" src="<%= @profiles["image"] %>" alt="<%= @profiles["name"] %>">
  <% end %>

  <div class="controls">
    <a href="/profiles/<%= @profiles["id"] %>/edit">Edit</a>
    <a href="/profiles/<%= @profiles["id"] %>/delete">Delete</a>

  </div>
</div>
