<h2>Edit Shape</h2>

<div class="form">
  <form action="/shapes/<%= @shapes.id %>" method="post">
    <label>
      Name:
      <input name="name" placeholder="eg. True Twin" required value="<%= @shapes.name %>">
    </label>

    <label>
      Terrain:
      <input name="terrain" placeholder=" eg. powder" value="<%= @shapes.terrain %>">
    </label>
    <label>
      Image:
      <input name="image" type="url" placeholder="https://..." value="<%= @shapes.image %>">
    </label>
    <label>
      <textarea name="description" rows="8" cols="80"><%= @shapes.description %></textarea>
      <!-- <input name="description"> -->
    </label>
    <button>Submit</button>
  </form>
</div>
