<h2>Edit Shape</h2>

<div class="form">
  <form action="/shapes/<%= @shapes.id %>" method="post">
    <label>
      <h3>Name:</h3>
      <input name="name" placeholder="eg. True Twin" required value="<%= @shapes.name %>">
    </label>

    <label>
      <h3>Terrain:</h3>
      <input name="terrain" placeholder=" eg. powder" value="<%= @shapes.terrain %>">
    </label>
    <label>
      <h3>Image:</h3>
      <input name="image" type="url" placeholder="https://..." value="<%= @shapes.image %>">
    </label>
    <label>
      <textarea name="description" rows="8" cols="80" placeholder="Give a brief interview"><%= @shapes.description %></textarea>
      <!-- <input name="description"> -->
    </label>
    <button>Submit</button>
  </form>
</div>
