<div class="book-container">
    <div id="left">
        <h1><%= @title %></h1>
        <h2><%= @authors %></h2>
        <p><%= @description %></p>
        <h3>Average rating: <%= @rating %></h3>
    </div>
    <div id="right">
        <img src="<%= @img %>" alt="cover">
    </div>
</div>