<div class=content>


<h2 class='category'>Category: <%= @catagory %></h2>

<div class="bookinfo">

<img src=<%= @cover %> alt="cover-photo">
<div class='right-column'>
<h2 class="booktitle"><%= @title %></h2>
<h3 class="author"><%= @author %></h3>
<p class="description"><%= @description %></p>
</div>

</div>





</div>
