<!DOCTYPE html>
<html>
  <head>
    <title>SkiResorts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "All Resorts", resorts_path %>
      <%= link_to "Add Resort", new_resort_path %>
    </nav>
    <%= yield %>
  </body>
</html>
