<h2>Edit Continent</h2>

<form action="/continents/<%= @continent.id %>" method="post">
<div class="form-group">
  <label>
    Continent:
    <input name="name" placeholder="Enter continent" required value="<%= @continent.name %>">
  </label>
  </div>
  <div class="form-group">
  <label>
    Size:
    <input name="size" placeholder="Enter land area(sq km)" value="<%= @continent.size %>">
  </label>
  </div>
  <div class="form-group">
  <label>
    Population:
    <input name="population" placeholder="1,000,000" value="<%= @continent.population %>">
  </label>
  </div>
  <div class="form-group">
  <label>
    Number of countries:
    <input type="number" name="numofcountries" placeholder="Enter number" value="<%= @continent.numofcountries %>">
  </label>
  </div>
  <div class="form-group">
  <label>
    Fun fact:
    <input name="fact" placeholder="Enter a fun fact" value="<%= @continent.fact %>">
  </label>
  </div>
  <div class="form-group">
  <label>
    Image:
    <input type="url" name="image" placeholder="http://.." value="<%= @continent.image %>">
  </label>
  </div>
  <button>Update</button>
</form>
