<h1><%= @artist.name %></h1>


<ul>
  <li><%= @artist.nationality %></li>
  <li><%= @artist.genre %></li>
</ul>

<%= image_tag @artist.image, :class => "feature" if @artist.image.present? %>

<div class="controls">
  <%= link_to "Edit #{@artist.name}", edit_artist_path %>
  <%= button_to "Delete #{@artist.name}", @artist, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
