<!DOCTYPE html>
<html>
  <head>
    <title>GamesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <a href="/">Home</a>|
      <a href="/magic">
        Magic 8 Ball
    </a>|
    <a href="/numberguess">
        Number Guess
    </a>|
    <a href="/scissorpaperrock">
        Scissor Paper Rock
        </a>
    </nav>
    
    <div id='layoutsDiv'>
      <%= yield %>
    </div>
    
  </body>
</html>
